.myImage-img{
    width: 100%;
    height: 790px;
    object-fit: cover;
    
    margin-bottom: -765px;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.442);
    opacity: 1;

    
}

.facebookImage-img{
    width: 50px;
    height: 47px;
 

    margin-left: 90px;
    opacity: 0.9;
    position: absolute;

    background-color: rgba(161, 161, 161, 0.341);
}


.phoneCall-div{
    width: 240px;
    height: 47px;
    padding-left: 170px;

    margin-left: -195px;

    background-color: rgb(184, 184, 184);
    border-radius: 2px;

    position: relative;
    margin-top: 450px;
    margin-bottom: -510px;

    display: flex;

    transform: translate(0px, 0px);

    animation-name: moveBack;
    animation-duration: 0.2s;
    animation-timing-function:ease;

}

.myText-para{
    margin-left: -45px;

}

.phoneCall-img{
    width: 50px;
    height: 47px;

    opacity: 0.9;
    position: absolute;

    background-color: rgba(161, 161, 161, 0.341);
}

.feceBook-div{
    width: 240px;
    height: 47px;
    padding-left: 100px;

    margin-left: -195px;

    background-color: rgb(184, 184, 184);
    border-radius: 2px;

    position: relative;
    margin-top: 310px;
    margin-bottom: -440px;

    display: flex;

    transform: translate(0px, 0px);

    animation-name: moveBack;
    animation-duration: 0.2s;
    animation-timing-function:ease;
}

.insta-div{
    width: 240px;
    height: 47px;
    padding-left: 100px;

    margin-left: -195px;

    background-color: rgb(184, 184, 184);
    border-radius: 2px;

    position: relative;
    margin-top: 450px;
    margin-bottom: -440px;

    display: flex;

    transform: translate(0px, 0px);

    animation-name: moveBack;
    animation-duration: 0.2s;
    animation-timing-function:ease;
}

.feceBook-div:hover{
    transform: translate(180px, 0px);
    
    animation-name: moveObject;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.insta-div:hover{
    transform: translate(180px, 0px);
    
    animation-name: moveObject;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
}

.phoneCall-div:hover{
    transform: translate(180px, 0px);
    
    animation-name: moveObject;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;


}

  
@keyframes moveObject {
    from {
      transform: translateX(0);
    }
  
    to {
      transform: translateX(180px);
    }

  }

@keyframes moveBack{
    from {
        transform: translateX(180px);
      }

      to {
        transform: translateX(0);
      }
}

.phoneCall-img{
    width: 50px;
    height: 50px;
    padding: 5px;
    padding-bottom: -50px;
    margin-left: 20px;
}


.myNumber-para{
    padding: 2px;
    margin-bottom: -10px;
    margin-left: -120px;
    width: 120px;
    color: rgb(57, 57, 57);

}

.myAccounts-para{
    padding: 2px;
    margin-bottom: -10px;
    margin-left: -50px;
    width: 120px;
    color: rgb(57, 57, 57);

}

.mainDiv0-div{
    margin: 0 auto;
    margin-top: 200px;
    height: 250px;
    width: 40%;
    color: aliceblue;
    display: flex;
    justify-content:flex-start;
    

}

.mainDiv1-div{
    margin: 0 auto;
    margin-top: 200px;
    height: 250px;
    width: 40%;
    color: aliceblue;
    display: flex;
    justify-content:flex-end;
}

.mainPara0-para{
    width: fit-content;
    font-size: 30px;
    font-family: "Impact", "fantasy";
    text-shadow: 2px 2px 10px rgb(66, 66, 66);
    text-align: start;

    margin-top: 12px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);

    
}

.mainPara1-para{
 
    font-size: 40px;
    font-weight: 600;
    font-family: "Impact", "fantasy";

    text-shadow: 2px 2px 10px rgb(66, 66, 66);
    text-align: end;
    

   
    margin-bottom: 10px;
      margin-right: 10px;



}

.myPara0-para{

    font-size:14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 10px rgb(66, 66, 66);
    color: rgb(227, 227, 227);
    text-align: start;
  
    margin-bottom: 60px;

 
   

} 

.myPara1-para{
    font-size:17px;
   
   
    text-shadow: 2px 2px 10px rgb(66, 66, 66);
    text-align: end;
    width: fit-content;
    margin-bottom: 60px;
    margin-right: 10px;


} 

.myButton0-btn{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);

    border-radius: 5px;
    border: 1px solid rgb(249, 187, 0);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.442);

    margin-top: 12px;

    animation-name: buttonAnimationReverse;
    animation-duration: 0.2s;

   

}

.myButton0-btn:hover{

    background-color: rgb(249, 187, 0);
    animation-name: buttonAnimation;
    animation-duration: 0.2s;

}

.myButton1-btn{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(255, 255, 255);


    border-radius: 5px;
    border: 1px solid rgb(249, 187, 0);
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.442);  

    margin-top: 12px;

    animation-name: buttonAnimationReverse;
    animation-duration: 0.2s;
    
}

.myButton1-btn:hover{

    background-color: rgb(249, 187, 0);
    animation-name: buttonAnimation;
    animation-duration: 0.2s;

}

@keyframes buttonAnimation {
    from {background-color: rgba(249, 187, 0, 0);}
    10%{background-color: rgba(249, 187, 0, 0.208);}
    20%{background-color: rgba(249, 187, 0, 0.329);}
    30%{background-color: rgba(249, 187, 0, 0.373);}
    40%{background-color: rgba(249, 187, 0, 0.438);}
    50%{background-color: rgba(249, 187, 0, 0.553);}
    60%{background-color: rgba(249, 187, 0, 0.586);}
    70%{background-color: rgba(249, 187, 0, 0.69);}
    80%{background-color: rgba(249, 187, 0, 0.723);}
    90%{background-color: rgba(249, 187, 0, 0.899);}
    to {background-color: rgb(249, 187, 0);}
}

@keyframes buttonAnimationReverse {
    from {background-color: rgb(249, 187, 0);}
    10%{background-color: rgba(249, 187, 0, 0.899);}
    20%{background-color: rgba(249, 187, 0, 0.723);}
    30%{background-color: rgba(249, 187, 0, 0.69);}
    40%{background-color: rgba(249, 187, 0, 0.586);}
    50%{background-color: rgba(249, 187, 0, 0.553);}
    60%{background-color: rgba(249, 187, 0, 0.438);}
    70%{background-color: rgba(249, 187, 0, 0.373);}
    80%{background-color: rgba(249, 187, 0, 0.329);}
    90%{background-color: rgba(249, 187, 0, 0.208);}
    to {background-color: rgba(249, 187, 0, 0);}
}


.squareDesign-div{
    position: relative;
    width: 70.25%;
    height: 45px;

    /* //////// */
    background-color: rgb(229, 229, 229);
    /* //////// */

    margin-top: 325px;
    border-radius: 5px;
    margin-left: -1.29%;
    padding: 7px;
}

.innersquareDesign-div{
    margin: 0 auto;
    position: relative;
    width: 102.8%;
    height: 50px;
    background-color: rgb(249, 187, 0);
    border-radius: 5px;
    margin-left: -3%;
    box-shadow: 2px 2px rgba(100, 100, 100, 0.442);
 
}


.innerCircle{
   width: 21px;
    height: 18px;
    border-radius: 60px 10000px 0px 10000000px;
    background-color: rgb(49, 47, 43);
    position: relative;

}



@media(max-width: 1050px){
    .mainDiv0-div{
        width: 74%;
    }
    .mainDiv1-div{
        width: 74%;
    }
}



