.App {
  text-align: center;
  background-color: rgb(218, 218, 218);
  overflow:hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.myLanButton{

  margin-top: 149px;
  margin-bottom: -125px;
  text-align: end;
  display: flex;
  justify-content: end;
  margin-right: 125px;
  color: white;

}

.Para0-para{
  width:fit-content;
  margin-top:15px;
  margin-right: 7px;
  position:relative;
  cursor: pointer;
}

.Para1-para{
  width:fit-content;
  margin-top:15px;
  position:relative;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {

  .myLanButton{
     
      padding-right: -0%;
  }
}