.App {
  text-align: center;

  overflow:hidden;
}
body{
  background-color: rgb(229, 229, 229);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.myLanButton{

  margin-top: 85px;
  padding-top: -50px;
  z-index: 50000000000000;
  margin-right: 100px;
  border-radius: 5px;
  cursor: pointer;

  width: 70px;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  color: white;

  background-color: rgba(120, 120, 120, 0.373);
  height: 30px;



}

.Para0-para{
  width:fit-content;
  margin: 0 auto;
  
 
  position:relative;

  display: fixed;

  z-index: 20;
}

.Para1-para{
  width:fit-content;
  margin: 0 auto;
  position:relative;
 
  display: fixed;
  padding-top: 3px;
  z-index: 20;
}

@media only screen and (max-width: 750px) {

  .myLanButton{
     
    margin-right: 25px;
  }
}