.mainFooterDiv-div{
  width: 100%;
  height: fit-content;
  background-color: rgb(73, 73, 73);
  overflow:hidden;

}

.footerUpRightSquare-div{
 
  width: 77%;
  height: 60px;


  border-radius: 5px;
  box-shadow: 2px 2px rgba(54, 54, 54, 0.307);

  position: absolute;

  background-color: rgb(249, 187, 0);

  margin-top: -30px;

  margin-bottom: 100px;

  z-index: 10;


}


.myOuterMainFooterPages-para0{
  display:flex; 
  justify-content:space-between;

}
.myOuterMainFooterPages-para1{
  display:flex; 
  justify-content:space-between;
}

.myMainFooterPages-para0{
  color: white;
  margin: 25px;
  margin-left: 115px;

  font-family: Arial, Helvetica, sans-serif;

  text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.999);


  font-weight:500;
  cursor:default;

}

.myMainFooterPages-para1{
  color: white;
  margin: 25px;
  margin-left: 115px;

  font-family: Arial, Helvetica, sans-serif;

  text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.999);


  font-weight:500;
  cursor:default;

}

.myFooterPages-para0{
  color: rgb(165, 165, 165);
  margin: 50px;
  margin-left: 115px;

  font-family: Arial, Helvetica, sans-serif;

  text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.999);
  margin-bottom: -40px;

  font-size: 12px;

  font-weight:500;


  cursor: pointer;



}

.myFooterPages-para1{
  color: rgb(165, 165, 165);
  margin: 50px;
  margin-left: 115px;


  font-family: Arial, Helvetica, sans-serif;

  text-shadow: 2px 2px 4px rgba(47, 47, 47, 0.999);
  margin-bottom: -40px;

  font-size: 12px;

  font-weight:500;


  cursor: pointer;

}



.myFooterPages-Div0{
  padding-bottom: 10px;

  
}

.myFooterPages-Div1{
  padding-bottom: 50px;
  

  
}



.myFooterMap-Div{
  width: 400px;
  height: 300px;
  background-color: rgb(190, 190, 190);

  margin-top: 30px;

  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);
  
  border-radius: 5px;
}

.veryMiniMapFacekook{
  width: 50px;
  height: 40px;

  background-color: rgb(190, 190, 190);

  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);
}
.veryMiniMapInstagram{
  width: 50px;
  height: 40px;

  background-color: rgb(190, 190, 190);

  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);
}
.veryMiniMapWhatsapp{
  width: 50px;
  height: 40px;

  background-color: rgb(190, 190, 190);

  margin-right: 10px;
  margin-top: 10px;
  border-radius: 5px;

  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);
}

.locationPara-para{
  margin-top: 10px;
  color: white;
  font-size: 14px;
  right: 0;
  justify-self: end;
}

.myInnerFooterLine-div{
  width: 95%;
  height: 3px;

  background-color: rgb(249, 187, 0);

  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);

  margin-top: 75px;
  border-radius: 5px;
}

.mySecondayDiv-div{
  display: flex;
}

.myInnerFooterEndLine-div{
  width: 100%;
  height: 60px;

  background-color: rgb(249, 187, 0);

  box-shadow: 1px 1.2px 1px 0px  rgb(51, 51, 51);

  margin-top: 75px;

  display: flex;


}

.veryLowPara-div{
  display:flex; 
  justify-content:space-between;
  width:70%;
  margin:0 auto;
}

.veryLowPara-para{
  color: white;
  font-size: 14px;
  right: 0;

}


.creditPara-para{
  margin: 0 auto;
  margin-top: 15px;

  font-family: Arial, Helvetica, sans-serif;



  font-size: 16px;

  font-weight:500;

}


.myHiddenMap-div{
  display: none;
  width: 80%;
}

.myHiddenSecondayDiv-div{
  display: none;

}

@media only screen and (max-width: 1050px) {
  .myFooterMap-Div{
    width: 100%;

  }
  .myHiddenMap-div{
    display: grid;
  }
  .myUnHiddenMap-div{
  display: none;
  }
  .myOuterMainFooterPages-para0{
    display:grid; 

  }
  .myOuterMainFooterPages-para1{
    display:grid; 

  }
  .myInnerFooterLine-div{
    width: 100%;

  }


}

@media only screen and (max-width: 750px) {
  .myFooterMap-Div{
    width: 100%;
  }
  .myHiddenSecondayDiv-div{
    display: grid;

   
  }
  .mySecondayDiv-div{
    display: none;
  }
  .veryLowPara-div{
    width: 100%;
    display: grid;
  }
  .myMainFooterPages-para0{
    margin: 10px;
    width: 100%;

  
  }
  .myMainFooterPages-para1{
    margin: 10px;
    width: 100%;

  
  }
  .myOuterMainFooterPages-para0{
    display:grid; 
    margin-left: 60px;
   
  }
  .myOuterMainFooterPages-para1{
    display:grid; 
    margin-left: 60px;
   
  }

  .myFooterPages-para0{
    color: rgb(165, 165, 165);
    margin: 0 auto;
    margin: 10px;
    margin-left: 10px;

    cursor: pointer;
  }
  .myFooterPages-para1{
    color: rgb(165, 165, 165);
    margin: 0 auto;
    margin: 10px;
    margin-left: 10px;

    cursor: pointer;
  }
  .veryLowPara-para{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -10px;
  
  }

}